.banner_post {
  object-fit: contain;
  height: 270px;
  color: aliceblue;
}
.banner_det {
  display: flex;
  flex-direction: column;
}

.ban_title {
  color: aliceblue;
  font-size: xx-large;
  display: flex;
  align-items: flex-end;
  padding-left: 34px;
  padding-top: 150px;
}

.btn {
  padding-left: 35px;
}
.fade_bot {
  height: 2.55rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
